span {
  font-weight: bold;
  text-decoration: line-through;
  color: rebeccapurple;
}

p {
  text-transform: uppercase;
  letter-spacing: 10px;
}

#_1 {
  color: red;
  font-family: 'Comic Sans MS';
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
}

#_2 {
  font-style: oblique;
  font-family: Tahoma;
}

#_3 {
  font-style: italic;
  font-family: Georgia;
}

#_4 {
  font-weight: bold;
}

#_5 {
  text-align: center;
}

#_6 {
  text-align: end;
}

#_7 {
  font-family: Pacifico;
  text-align: center;
}

#_8 {}

#_9 {}

#_10 {}
